* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/appicon-style-cute-bird-geometric-soft-shades-high-contrast.png);
    background-attachment: fixed; 
    background-size: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

h1 {
    margin: 1em;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.circle.active {
    background-color: tomato;
    background-image: url(images/bird-watching.avif);
    background-size: cover;
    opacity: 100%;
}

.circle {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color:lightgreen;
    border-radius: 50%;
    pointer-events: none;
    opacity: 40%
} 

button {
    font-family: inherit;
    font-size: inherit;
    background-color: #f3f3f3;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: 5rem 1rem;
    cursor: pointer;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 2rem;
    width: 60%;
    height: 45%;
    border-radius: 10px;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    margin: 0;
}

.modal p {
    margin: 1rem;
} 

.modal .score-end {
    font-size: 2rem;
}  

.hidden {
    display: none;
}